// Vuetify Overrides
@import 'theme.scss';

// Vue 3- Input error message
.v-input__details {
  letter-spacing: normal;
}

// Buttons
.v-btn {
  letter-spacing: 0;
  text-transform: none;
  font-weight: 400;

  .v-icon:first-child {
    margin-right: 0.25rem;
  }

  .v-icon:only-child {
    margin: 0;
  }
}

// Overflow Button
.v-overflow-btn .v-select__slot {
  height: auto;
}

.v-overflow-btn .v-input__append-inner {
  margin-top: 0 !important;
}

// Updating sizing
.v-btn.v-size--small {
  font-size: 0.8125rem;
}

.notify-dialog > .v-card > .v-card-title {
  padding: 1.5rem;
  letter-spacing: -0.03rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.v-dialog--fullscreen > .v-sheet {
  border-radius: 0;
}

// v-alert
.v-alert {
  font-size: 1rem;
}

.v-alert__icon.v-icon {
  font-size: 1.5rem;
}

// v-card
// Add space between elements in case we use a close button
.v-card-title {
  justify-content: space-between;
}

// Increase the default font-size the default size of v-card-text
.v-card-text {
  line-height: 1.5 !important;
  font-size: 1rem;
}

.v-card-actions {
  padding: 1.5rem;
}

.theme--light.v-card > .v-card-text {
  color: $gray9;
}

// Form Inputs

// Adjust font size of help messages
// Do this to prevent unexpected sizing if using any transitions
.v-text-field__details {
  min-height: 1.25rem;
}

// Fix weird blue highlight in autocomplete boxes (Chrome)
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

// Tab Navigation
.v-tab {
  min-width: auto;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 700;

  .v-badge__badge {
    margin-left: 0.125rem;
    margin-right: -0.125rem;
    font-size: 11px;
    font-weight: 700;
  }
}

// Aside Navigation
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 1rem;
}

.v-list--one-line {
  padding: 16px;
}

// Radio Buttons
.v-radio {
  align-self: flex-start;
}

.bold-header {
  span {
    font-weight: 700;
    color: $gray9;
  }
}
.auto-complete-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.small-text-input {
  .v-text-field--filled .v-label,
  .v-text-field--full-width .v-label {
    top: 10px !important;
    // font-weight: normal;
  }
  .v-text-field .v-input__control .v-field__input {
    min-height: auto !important;
    height: 42px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.v-autocomplete__menu-icon {
  display: none;
}
// FAS UI overrides for vuetify to match BC gov standards
.v-theme--light {
  .v-input--disabled,
  .v-input--disabled input,
  .v-input--disabled textarea {
    color: $gray9 !important;
    opacity: 0.9;
  }
  .v-field--disabled {
    opacity: 0.9;
  }
  .v-label--disabled {
    color: $gray9 !important;
  }

  .v-breadcrumbs-item--disabled {
    opacity: 1;
  }

  .v-data-table {
    color: $gray7;
    > .v-table__wrapper > table > thead > tr > th {
      color: $gray9;
      font-size: 14px;
    }
  }
}

// Shrink down v-select.
.v-input--density-default {
  --v-input-control-height: 24px;
}

.v-selection-control--density-default {
  --v-selection-control-size: 24px;
}

.v-selection-control > .v-label {
  margin-left: 8px;
}
