// This file is used only for @bcrs-shared-components/staff-comments
// If use more color codes inside component, need to update here.
$gray7: #495057;
$primary-blue: #1976d2;
@import "@/assets/scss/theme.scss";
